/* Variables de colores */
:root {
  --main-grey: #c2c6ce;
  --main-darkblue: #0f1c30;
  --main-lightdarkblue: #304A6E;
  --main-blue: #668DC0;
  --main-lightblue: #C0D0EF;
  --gradiant: linear-gradient(175deg, var(--main-lightblue), var(--main-blue), var(--main-lightdarkblue), var(--main-darkblue));
}

/* Estilos generales */
html {
  font-size: 8px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 290px;
  color: whitesmoke;
  background: var(--main-darkblue);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.8rem;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start {
  flex: 1;
}

/* Estilos para banner */
.banner-top {
  height: 2.5rem;
  overflow: hidden;
  background-color: var(--main-darkblue);
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 10;
  padding: 2rem 2rem 0 0;
}

.banner-footer {
  width: 2.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-banner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2.5rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
  align-items: center;
  text-align: center;
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--main-lightblue);
  transition: 0.5s;
  padding: 1rem 1rem 1rem 1.5rem;
  color: var(--main-blue);
}


/* Estilo de botón curriculum */
.download-curriculum {
  background-color: var(--main-lightdarkblue);
  color: var(--main-darkblue);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-curriculum:hover {
  background-color: cyan;
}


.banner-vertical a {
  padding-top: 1rem;
  margin: 0;
}

/* Animación botones de banners*/
.nav-list a:hover {
  color: cyan;
}

.nav-list a:active {
  color: var(--main-blue);
}

/* Estilo de secciones */
/* Contenedor de las secciones */
.sections-container { 
  position: relative;
  width: 100%; 
  height: calc(100vh - 4rem); 
  overflow-y: auto;
  overflow-x: hidden;
}



/* Secciones individuales */
.section {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(0);
}

/* Sección activa */
.section.active {
  left: 0; 
  opacity: 1; 
  z-index: 1;
}
/* Estilos de barra de scroll */
body, html {
  overflow-x: hidden; 
}
.sections-container::-webkit-scrollbar {
  width: 0; 
}

.sections-container {
  scrollbar-width: none; 
}




/* Sección de inicio */
.about, .contact, .job {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; 
  padding: 2rem;
  }

.profile {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.profile-picture {
  flex-shrink: 0;
  width: 150px;
  height: 170px;
  margin-right: 2rem;
  border-radius: 70%;
  border: 2px solid var(--main-grey);
}

.profile-greating {
  display: flex;
  flex-direction: column;
}

.profile-greating h2 {
  margin: 0;
  font-size: 8rem;
}

.profile-greating h1 {
  margin: 0;
  font-size: 6rem;
  color: var(--main-blue);
}

.profile-greating p {
  margin: 0.5rem 0 0 0;
  font-size: 1.6rem;
}

.name {
  color: cyan;
}

.country-before {
  color: grey;
  text-decoration: line-through;
}

/* Estilos para sección de about me */
.aboutme-section {
  display: flex;
  align-items: center;
  text-align: justify;
  padding-right: 1rem;
}

.aboutme-section h2 {
  font-size: 1.6rem;
  color: var(--main-blue);
  margin: 0;
  padding-bottom: 1rem;
}
.aboutme-section p {
  margin: 0;
  font-size: 1.2rem;
}


.paragraph {
  font-size: 2rem;
  width: 50%;
  padding: 5rem;
}

.paragraph p {
  font-size: 2rem;
  padding-bottom: 2rem;
}

/* Estilos para sección de educación y experiencias laborales */

.educationitems, .experienceitems {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding-bottom: 2rem;
}

/* Cards */

.cards {
  position: relative;
  background: whitesmoke;
  width: 100%;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-right:1rem;
}


.container_copy {
  padding: 1rem 4rem 1rem 1rem;
  position: relative;
  z-index: 1;
}

.img_pod {
  position: absolute;
  top: -20px; 
  left: 145px; 
  z-index: 0;
  height: 110px;
  width: 110px;
}

.institutional-logo {
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  object-fit: cover;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.cards h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

.cards h1 {
  margin: 0 0 3rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #333;
}

.cards p {
  font-size: 1.5rem;
  line-height: 1.45;
  color: #333;
}

.cards .btn_primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 1.5rem 2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;
  position: relative;
  left: 80%;
}

.cards .btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}

.skill-logo-name {
  display: block;
  position:relative;
  top: 0;
}

.relative-skill {
  color: whitesmoke;
  font-size: 1.3rem;
  background-color: var(--main-blue);
  padding: 0.5rem;
  border-radius: 5px;
}

/* Fin Cards */

.universities, .experiences {
  padding-right: 1rem;
}
.educationitems p, .experienceitems p{
  padding: 0;
}

.title {
  color: cyan;
}

/* Estilos para sección de contacto */
.contact-container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

/*Estilos para sección de galería de trabajos */
.filter-banner {
  text-align: center;
  margin-bottom: 1rem;
}

.filter-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: var(--main-blue);
  color: white;
  border: none;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--main-lightdarkblue);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: calc(33.333% - 1rem);
  margin: 0.5rem;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.hidden {
  display: none;
}

#project-details {
  text-align: center;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.project-content {
  padding: 1rem; 
  margin: 0 auto; 
  max-width: 100%; 
  text-align: left; 
}

.job-gallery {
  display: flex;
  flex-direction: column;
}

.back-button {
  background-color: var(--main-blue);
  color: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: var(--main-lightdarkblue);
}




/* Footer */

footer {
  border: 0.1vh solid var(--main-grey);
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}
.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 75vh;
}

.thanks p {
  font-size: 1rem;
}

/* Media queries para responsividad */

/* Pantallas grandes */
@media (max-width: 1200px) {
  html {
    font-size: 6px;
  }

  .banner-vertical {
    width: 4rem;
  }

  .banner-vertical a {
    font-size: 3rem;
  }

  .banner-vertical .home {
    margin-bottom: 80vh;
  }

  .profile-greating h2 {
    font-size: 6rem;
  }

  .profile-greating h1 {
    font-size: 3rem;
  }

  .profile-picture {
    width: 200px;
    height: 250px;
  }

  .thanks {
    margin: 0 20vh;
  }
}


/* Tablets y Móviles */
@media (max-width: 768px) {
  .banner-top {
    height: 4rem; /* Mantiene altura adecuada para tablets y móviles */
    flex-direction: row; /* Asegura disposición horizontal */
    align-items: center;
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    padding-top: 2rem;
  }

  .nav-list a {
    padding: 0.5rem 1rem; /* Ajusta el padding para mayor espaciado */
    font-size: 1.8rem; /* Aumenta el tamaño de la letra para tablets y móviles */
  }

  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-picture {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .profile-greating h2 {
    font-size: 4rem;
  }

  .profile-greating h1 {
    font-size: 2.5rem;
  }

  .thanks {
    margin: 0 20vh;
  }
  .aboutme-section h1 {
    font-size: 4rem;
  }

  .aboutme-section p {
    font-size: 1.3rem;
  }
  .aboutme-section {
    margin-top: auto;
  }
}

/* Móviles pequeños */
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }

  .profile-greating h2 {
    font-size: 3rem;
  }

  .profile-greating h1 {
    font-size: 1.8rem;
  }

  .profile-greating p {
    font-size: 1.4rem;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }

  .aboutme-section h1 {
    font-size: 4rem;
  }

  .aboutme-section p {
    font-size: 1.3rem;
  }

  .thanks {
    margin: 0 10vh;
  }

}



