/* Variables de colores */
:root {
  --main-grey: #c2c6ce;
  --main-darkblue: #0f1c30;
  --main-lightdarkblue: #304A6E;
  --main-blue: #668DC0;
  --main-lightblue: #C0D0EF;
  --gradiant: linear-gradient(175deg, var(--main-lightblue), var(--main-blue), var(--main-lightdarkblue), var(--main-darkblue));
}

/* Estilos generales */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 290px;
  color: whitesmoke;
  background: var(--main-darkblue);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.8rem;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start {
  flex: 1;
}

/* Estilos para banner */
.banner-top {
  height: 2.5rem;
  overflow: hidden;
  background-color: var(--main-darkblue);
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 10;
  padding-top: 2rem;
}

.banner-vertical {
  width: 2.5rem;
  height: 100vh;
  background-color: var(--main-darkblue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-banner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2.5rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
}

.nav-list a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--main-lightblue);
  transition: 0.5s;
  padding: 1rem 1rem 1rem 1.5rem;
  color: var(--main-blue);
}
/* Estilo de botón curriculum */
.download-curriculum {
  background-color: var(--main-lightdarkblue);
  color: var(--main-darkblue);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-curriculum:hover {
  background-color: cyan;
}


.banner-vertical a {
  padding-top: 1rem;
  margin: 0;
}

/* Animación botones de banners*/
.nav-list a:hover {
  color: cyan;
}

.nav-list a:active {
  color: var(--main-blue);
}

/* Estilo de secciones */
/* Contenedor de las secciones */
.sections-container { 
  position: relative; 
  overflow: hidden; 
  width: 100%; 
  height: calc(100vh - 4rem);
}

/* Secciones individuales */
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Centra el contenido de cada sección */
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Sección activa */
.section.active {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}



/* Sección de inicio */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.about, .contact, .job {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; /* Por si necesitas un formato más formal */
  padding: 2rem;
  }

.profile {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.profile-picture {
  flex-shrink: 0;
  width: 250px;
  height: 300px;
  margin-right: 10rem;
  border-radius: 70%;
  border: 5px solid var(--main-grey);
}

.profile-greating {
  display: flex;
  flex-direction: column;
}

.profile-greating h2 {
  margin: 0;
  font-size: 8rem;
}

.profile-greating h1 {
  margin: 0;
  font-size: 4rem;
  color: var(--main-blue);
  padding-bottom: 2rem;
}

.profile-greating p {
  margin: 0.5rem 0 0 0;
  font-size: 1.6rem;
}

.aboutme-section {
  display: flex;
  align-items: center;
  padding: 2rem;
  text-align: justify;
}

.aboutme-section h1 {
  padding: 5rem;
  font-size: 10rem;
}
.paragraph {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.name {
  color: cyan;
}

.lookingforward {
  color: cyan;
}

/* Footer */
.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-grey);
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  margin: 0 75vh;
}

.thanks p {
  font-size: 1rem;
}

/* Media queries para responsividad */

/* Pantallas grandes */
@media (max-width: 1200px) {

  .banner-vertical {
    width: 4rem;
  }

  .banner-vertical a {
    font-size: 3rem;
  }

  .banner-vertical .home {
    margin-bottom: 80vh;
  }

  .profile-greating h2 {
    font-size: 6rem;
  }

  .profile-greating h1 {
    font-size: 3rem;
  }

  .profile-picture {
    width: 200px;
    height: 250px;
  }

  .thanks {
    margin: 0 20vh;
  }
  .aboutme-section h1 {
    font-size: 4rem;
  }

  .aboutme-section p {
    font-size: 1.3rem;
  }
}


/* Tablets y Móviles */
@media (max-width: 768px) {
  .banner-top {
    height: 4rem; /* Mantiene altura adecuada para tablets y móviles */
    flex-direction: row; /* Asegura disposición horizontal */
    align-items: center;
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    padding-top: 2rem;
  }

  .nav-list a {
    padding: 0.5rem 1rem; /* Ajusta el padding para mayor espaciado */
    font-size: 1.8rem; /* Aumenta el tamaño de la letra para tablets y móviles */
  }

  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-picture {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .profile-greating h2 {
    font-size: 4rem;
  }

  .profile-greating h1 {
    font-size: 2.5rem;
  }

  .thanks {
    margin: 0 20vh;
  }
  .aboutme-section h1 {
    font-size: 4rem;
  }

  .aboutme-section p {
    font-size: 1.3rem;
  }
}

/* Móviles pequeños */
@media (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .profile-greating h2 {
    font-size: 2rem;
  }

  .profile-greating h1 {
    font-size: 1.8rem;
  }

  .profile-greating p {
    font-size: 1.4rem;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
  }

  .aboutme-section h1 {
    font-size: 4rem;
  }

  .aboutme-section p {
    font-size: 1.3rem;
  }

  .thanks {
    margin: 0 10vh;
  }
  .banner-vertical {
    margin-bottom: 10vh;
  }
  .banner-vertical .nav-list {
    padding: 0.5rem 0 10rem 0;
  }
}


